.h100 {
  height: 100%;
}

.w100 {
  width: 100%;
}
.float-right{
  float: right;
}
.flex-row {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
}

.flex-column {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.flex-row-center {
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}

.flex-colum-center {
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
}

.flex-center {
  align-items: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
}

.flex-between {
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
}

.flex-around {
  justify-content: space-around;
  -webkit-justify-content: space-around;
}

.flex1 {
  flex: 1;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-20 {
  font-size: 20px;
}

.mar-t-20 {
  margin-top: 20px;
}

.mar-t-12 {
  margin-top: 12px;
}

.mar-r-6 {
  margin-right: 6px;
}

.mar-r-4 {
  margin-right: 4px;
}

.mar-r-8 {
  margin-right: 8px;
}

.mar-r-10 {
  margin-right: 10px;
}

.mar-r-16 {
  margin-right: 16px;
}

.mar-r-18 {
  margin-right: 18px;
}

.mar-r-20 {
  margin-right: 20px;
}

.mar-r-36 {
  margin-right: 36px;
}

.mar-l-8 {
  margin-left: 8px;
}

.mar-l-10 {
  margin-left: 10px;
}

.mar-l-12 {
  margin-left: 12px;
}

.mar-l-16 {
  margin-left: 16px;
}

.mar-l-20 {
  margin-left: 20px;
}

.mar-b-20 {
  margin-bottom: 20px;
}

.mar-b-8 {
  margin-bottom: 8px;
}

.mar-b-4 {
  margin-bottom: 4px;
}

.mar-b-16 {
  margin-bottom: 16px;
}

.pad-20 {
  padding: 20px;
}

.pad-l-12 {
  padding-left: 12px;
}

.pad-l-20 {
  padding-left: 20px;
}

.pad-r-10 {
  padding-right: 10px;
}

.pad-rl-20 {
  padding: 0 20px 0 20px;
}

.pad-trl-20 {
  padding: 20px 20px 0 20px;
}

.pad-b-30 {
  padding-bottom: 30px;
}

.pad-b-20 {
  padding-bottom: 20px;
}

.pad-t-20 {
  padding-top: 20px;
}